.annotation-bubble__wrapper {
  position: relative;

  &.spacing-1 {
    --edge-spacing: var(--space-1);
  }
  &.spacing-2 {
    --edge-spacing: var(--space-2);
  }
  &.spacing-3 {
    --edge-spacing: var(--space-3);
  }
  &.spacing-4 {
    --edge-spacing: var(--space-4);
  }

  img {
    display: block;
  }

  .annotation-bubble {
    position: absolute;
    top: var(--edge-spacing);
    left: var(--edge-spacing);
    padding: var(--space-1);
    background-color: var(--color-background-overlay);
    mix-blend-mode: screen;
    z-index: 1000;

    .annotation-bubble__indicator {
      display: block;
      background-color: var(--gray-8);
      border-radius: 50%;
      line-height: 0;
    }

    .annotation-bubble__content {
      display: none;
      border-radius: var(--radius-4);
      padding: var(--space-2);
      background-color: var(--gray-a11);
      max-width: 200px;

      &,
      a {
        color: var(--gray-7);
        text-decoration-color: color-mix(
          in oklab,
          var(--accent-a6),
          var(--gray-7)
        );
      }
    }

    &:hover {
      mix-blend-mode: normal;

      .annotation-bubble__indicator {
        display: none;
      }
      .annotation-bubble__content {
        display: block;
      }
    }
  }
}
