ul.breadcrumbs {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;

  li.breadcrumbs__item {
    display: inline-flex;
    align-items: center;

    svg {
      font-size: 0.8em;
      margin: 0 var(--space-1);
    }
  }
}
