.combobox__list > .rt-ScrollAreaViewport > div {
  width: 100%;
}

.combobox__item {
  width: 100%;
}

.combobox__item-text__label {
  flex: 0 0 fit-content;
}

.combobox__item-text__hint {
  flex: 0 1 auto;
}

.combobox__item svg {
  flex: 0 0 auto;
}

.input-combobox {
  &.size-1 {
    .input-combobox__input {
      height: var(--space-5);
      font-size: var(--font-size-1);
      text-indent: calc(var(--space-1));
    }
  }
  &.size-2 {
    .input-combobox__input {
      height: var(--space-6);
      font-size: var(--font-size-2);
      text-indent: calc(var(--space-2) - 1px);
    }
  }
}

.input-combobox__input {
  --border-color: var(--gray-a7);
  width: 100%;
  box-shadow: inset 0 0 0 1px var(--border-color);
  border: none;
  padding: 1px;
  border-radius: var(--radius-2);
  font-weight: normal;
  font-family: unset;
  letter-spacing: var(--letter-spacing-2);

  &:focus {
    outline: 2px solid var(--focus-8);
    outline-offset: -1px;
  }

  &::selection {
    background-color: var(--focus-a5);
  }

  &::placeholder {
    color: var(--gray-a10);
  }
}

.input-combobox__content {
  width: 100%;
  background-color: var(--color-panel-solid);
  box-shadow: var(--shadow-5);
  border-radius: var(--radius-4);
  overflow: hidden;
  z-index: 1000;

  &.size-1 {
    padding: var(--space-1);
    font-size: var(--font-size-1);
    .input-combobox__item {
      padding: var(--space-1) var(--space-2);
    }
  }
  &.size-2 {
    padding: var(--space-3);
    font-size: var(--font-size-2);
    .input-combobox__item {
      padding: var(--space-2) var(--space-2);
    }
  }
}

.input-combobox__item {
  border-radius: var(--radius-2);
  cursor: pointer;

  &:hover {
    background-color: var(--accent-3);
  }
}
