.nav-sidebar {
  border-right: 1px solid var(--gray-6);
  min-width: 200px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      width: 100%;
      border-radius: 0;
    }
  }
}
