.taxon-card {
  --card-padding: var(--space-2);
  --card-gap: var(--space-1);

  @media (min-width: 768px) {
    --card-padding: var(--space-3);
    --card-gap: var(--space-2);
  }

  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  height: 100%;
  padding: var(--card-padding);

  img {
    display: block;
    width: calc(100% + var(--card-padding) * 2);
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--radius-4);
    border: 1px solid var(--gray-5);

    margin: calc(-1 * var(--card-padding));
    margin-bottom: unset;

    @media (min-width: 768px) {
      width: 100%;
      margin: 0;
    }
  }

  .summary {
    svg {
      font-size: var(--font-size-2);
    }
  }
}
