.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
  gap: var(--space-2);
  max-width: 768px;

  .feature-grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-4);
  }

  .feature-icon__container {
    position: relative;
    padding: var(--space-1);
    border-radius: 50%;
    margin-bottom: var(--space-1);

    &::after {
      content: "";
      position: absolute;
      width: 65%;
      height: 65%;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      border-radius: 50%;
      background-color: var(--accent-a3);
      z-index: -100;
    }

    .feature-icon {
      width: 5rem;
      height: 5rem;
      display: block;
    }
  }
}

.final-cta {
  width: 100%;
  background-color: var(--accent-a3);
}
