.rf-demo__wrapper {
  .rf-demo__canvas {
    border-radius: var(--radius-3);
    border: 1px solid var(--gray-6);
  }
}

.purpose-section {
  width: 100%;
  background-color: var(--accent-a2);

  .purpose-list {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      gap: var(--space-4);

      svg {
        color: var(--accent-11);
        font-size: 5rem;
        flex-shrink: 0;
      }
    }
  }
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
  gap: var(--space-2);
  max-width: 768px;

  .feature-grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-4);
  }

  .feature-icon__container {
    position: relative;
    padding: var(--space-1);
    border-radius: 50%;
    margin-bottom: var(--space-1);

    &::after {
      content: "";
      position: absolute;
      width: 65%;
      height: 65%;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      border-radius: 50%;
      background-color: var(--accent-a3);
      z-index: -100;
    }

    .feature-icon {
      width: 5rem;
      height: 5rem;
      display: block;
    }
  }
}

.final-cta {
  width: 100%;
  background-color: var(--gray-12);
  color: var(--gray-1);
}
