.annotation-bubble__wrapper {
  position: relative;
  width: 100%;
  --edge-spacing: var(--space-2);

  /* ---- Breakpoints ---- */
  &.spacing-initial-1 {
    --edge-spacing: var(--space-1);
  }
  &.spacing-initial-2 {
    --edge-spacing: var(--space-2);
  }
  &.spacing-initial-3 {
    --edge-spacing: var(--space-3);
  }
  &.spacing-initial-4 {
    --edge-spacing: var(--space-4);
  }
  @media (min-width: 520px) {
    &.spacing-xs-1 {
      --edge-spacing: var(--space-1);
    }
    &.spacing-xs-2 {
      --edge-spacing: var(--space-2);
    }
    &.spacing-xs-3 {
      --edge-spacing: var(--space-3);
    }
    &.spacing-xs-4 {
      --edge-spacing: var(--space-4);
    }
  }
  @media (min-width: 768px) {
    &.spacing-sm-1 {
      --edge-spacing: var(--space-1);
    }
    &.spacing-sm-2 {
      --edge-spacing: var(--space-2);
    }
    &.spacing-sm-3 {
      --edge-spacing: var(--space-3);
    }
    &.spacing-sm-4 {
      --edge-spacing: var(--space-4);
    }
  }
  @media (min-width: 1024px) {
    &.spacing-md-1 {
      --edge-spacing: var(--space-1);
    }
    &.spacing-md-2 {
      --edge-spacing: var(--space-2);
    }
    &.spacing-md-3 {
      --edge-spacing: var(--space-3);
    }
    &.spacing-md-4 {
      --edge-spacing: var(--space-4);
    }
  }
  @media (min-width: 1280px) {
    &.spacing-lg-1 {
      --edge-spacing: var(--space-1);
    }
    &.spacing-lg-2 {
      --edge-spacing: var(--space-2);
    }
    &.spacing-lg-3 {
      --edge-spacing: var(--space-3);
    }
    &.spacing-lg-4 {
      --edge-spacing: var(--space-4);
    }
  }
  @media (min-width: 1640px) {
    &.spacing-xl-1 {
      --edge-spacing: var(--space-1);
    }
    &.spacing-xl-2 {
      --edge-spacing: var(--space-2);
    }
    &.spacing-xl-3 {
      --edge-spacing: var(--space-3);
    }
    &.spacing-xl-4 {
      --edge-spacing: var(--space-4);
    }
  }

  img {
    display: block;
  }

  .annotation-bubble {
    position: absolute;
    top: var(--edge-spacing);
    left: var(--edge-spacing);
    padding: var(--space-1);
    z-index: 1;
    max-width: calc(100% - (var(--edge-spacing) + var(--space-1)) * 2);

    .annotation-bubble__indicator {
      display: block;
      line-height: 0;

      svg {
        display: block;
        width: 1rem;
        height: 1rem;
        fill: rgb(235 235 235 / 0.78);
        filter: drop-shadow(0 0 1px rgb(255 255 255 / 0.55))
          drop-shadow(0 0 1px rgb(0 0 0 / 0.35))
          drop-shadow(0 1px 2px rgb(0 0 0 / 0.12));
        pointer-events: none;
      }
    }

    .annotation-bubble__content {
      display: none;
      border-radius: var(--radius-4);
      padding: var(--space-2);
      background-color: var(--gray-a11);

      &,
      a {
        color: var(--gray-7);
        text-decoration-color: color-mix(
          in oklab,
          var(--accent-a6),
          var(--gray-7)
        );
      }
    }

    &:hover {
      .annotation-bubble__indicator {
        display: none;
      }
      .annotation-bubble__content {
        display: block;
      }
    }
  }
}
