.taxon-image-browser {
  .taxon-image-browser__thumbnails {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: var(--gray-12);

    li {
      img {
        display: block;
        &:hover {
          filter: brightness(80%);
        }
      }
    }
  }
}
