.admin__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.admin__header {
  border-bottom: 1px solid var(--gray-6);

  h1 {
    margin: 0;
  }
}

.admin__sidebar {
  border-right: 1px solid var(--gray-6);
  min-width: 200px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.rt-Heading.admin__section-header {
  border-bottom: 1px solid var(--gray-6);
  width: 100%;
  margin: 0;
  padding: var(--space-1) var(--space-2);
  font-weight: var(--font-weight-medium);
}