.navbar {
  padding: 0 var(--space-2)
}

/* .navbar {
  display: flex;
  align-items:center;
  padding: 0 var(--space-2);
  overflow: hidden;
  border-bottom: 1px solid var(--gray-a5);
}

.navbar__list {
  display: flex;
  list-style: none;
  margin: 0;
  font-size: var(--default-font-size);
  font-weight: var(--font-weight-medium);

  li {
    padding: var(--space-1) var(--space-2);

    a {
      text-decoration: none;
      color: var(--gray-10);
      &.active {
        color: var(--accent-10);
      }
    }
  }
} */