@import "@radix-ui/themes/styles.css";
@import "navbar.css";
@import "admin.css";

:root,
.radix-themes {
  --default-font-family: 'Montserrat', system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
}

body {
  margin: 0;
  font-family: var(--default-font-family);
}