.key-creator {
  position: relative;
  flex: 1 0 auto;
  display: flex;
}

.key-creator-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: var(--space-4);

  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  z-index: 1;
}

.key-sidebar {
  flex: 1 0 auto;
  width: 300px;
  background-color: var(--color-background);
}

.key-toolbar {
  display: flex;
  gap: var(--space-2);
}

.key-sidebar__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
