@import "@radix-ui/themes/styles.css";
@import "admin.css";
@import "forms.css";
@import "vars.css";
@import "./vendors/_index.css";
@import "./components/_index.css";
@import "./pages/_index.css";
@import "./keys/_index.css";

:root,
.radix-themes {
  --default-font-family:
    "Open Sans", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue",
    Arial, "Noto Sans";
}

.radix-themes[data-is-root-theme="true"] {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

body {
  margin: 0;
  font-family: var(--default-font-family);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
