@import "@radix-ui/themes/styles.css";
@import "admin.css";
@import "forms.css";
@import "./vendors/_index.css";
@import "./components/_index.css";
@import "./pages/_index.css";

:root,
.radix-themes {
  --default-font-family:
    "Open Sans", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue",
    Arial, "Noto Sans";
}

body {
  margin: 0;
  font-family: var(--default-font-family);
}
